@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-color: #282e38;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#header {
    color: white;
    text-align: center;
}

#content {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.header-title {
    background-color: #323a46;
    width: 20%;
    padding: 1%;
    display: inline-block;
    border-radius: 5px;
    margin-right: 1%;
    margin-left: 1%;
}

.blue {
    background-color: #21afdd;
}

.red {
    background-color: #ff5b5b;
}

.yellow {
    background-color: #f9c851;
}

.green {
    background-color: #10c469;
}

.line {
    height: 5px;
    border-radius: 5px;
    width: 100%;
    float: right;
    margin-bottom: 20px;
}


h4 {
    color: white;
    margin-top: 0;
    text-align: left;
}

.header-badge {
    border-radius: 15px;
    font-size: 0.75em;
    line-height: 1.2rem;
    color: white;
    float: left;
    margin-left: 20px;
}

.header-badge p {
    display: inline-block;
    word-break: break-all;
    font-weight: bold;
    margin: 0;
    margin: 0.2em 0.5em 0.2em 0.5em;
}

.header-badge p span {
    display: inline-block;
    word-break: break-all;
    font-weight: bold;
    margin: 0;
    margin: 0 0.4em 0.2em 0.4em;
    line-height: 1.2rem;
    font-size: 1em;
}

.bignumber {
    font-size: 2em;
    text-align: right;
    color: white;
    margin: 0 0.1em 0 0;
}

.smallnumber {
    font-size: 0.8em;
    text-align: right;
    color: white;
    margin: 0 0.1em 0 0;
    color: #adb5bd;
}

.header-right {
    width: 60%;
    float: right;
    margin-bottom: 20px;
}

.header-left {
    width: 40%;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

#first-line {
    width: 100%;
    display: table;
}

#first-line-wrapper {
    display: table-cell;
    text-align: center;
}

#secondLine {
    width: 100%;
    display: table;
}

#secondLineWrapper {
    display: table-cell;
    text-align: center;
}

#chart2 {
    padding: 1%;
    width: 29%;
    background-color: #323a46;
    margin-top: 50px;
    min-height: 50vh;
    border-radius: 5px;
    margin-right: 1%;
    margin-left: 1%;
}

#chart3 {
    padding: 1%;
    width: 60%;
    background-color: #323a46;
    margin-top: 50px;
    min-height: 50vh;
    border-radius: 5px;
    margin-right: 1%;
    margin-left: 1%;
}

#gaugeChart {
    height: 50vh;
}

#pieChart {
    height: 50vh;
}

#lineChart {
    height: 50vh;
    width: 100%;
}

#secondLineWrapper div {
    display: inline-block;
}